################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.vsidx
*.db
*.wsuo
*.db-shm
*.db-wal
*.opendb
/.vs
*.suo
